
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;500;600&display=swap');

/*Reset y General para el sitio*/
/* 
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-family: 'Hahmlet', serif;
    font-size: 62.5%;
    font-weight: bold;
    
    
    color: black;
} */

a{
    font-size: 2em;
    /* text-decoration: none; */
    color: black;
}
/* .menu{
    display: flex;
    flex-direction: row;
}
.menu--links{
    padding: 1rem;
} */

table tr, label {
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 0.1rem; 
}
table tr p, table tr ul, table tr a{
    font-size: 1em;
}

 ul, ol{
    font-size: 1.5em;
    /* list-style-type: none; */
} 

table th{
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 0.2rem; 
}

.btn{
    padding: 1rem 1.5rem;
    background-color: blueviolet; 
    border-radius: 1rem;  
    color: white; 
    font-size: 1.5em;
    display: inline-block;
}

.zIndex-1{
    z-index: -1;
}  
.margin2Rem{
    margin: 2rem;
}
.padding0Rem{
    padding: 0;
}
/* Inicio Modifico funciones Bootstrap */
.nav-link{
    color: black;
    font-size: 2em;
}
.list-group-item{
    font-size: 1.8em;
}
/* Fin Modifico funciones Bootstrap */
.alignCenter{
    align-items: center;
}

/* Inicio GRID */
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;   
}
#principal{ /*usado en index*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr auto 1fr;
    gap: 1rem;
    justify-items:center;  
    align-items: center;  
    justify-content: space-evenly; 
}
/* .articulos{
    grid-column: 1/4; 
    display: flex;
    justify-self: center; 
    gap: 3rem;  
    padding: 2rem;
} */
.padding2Rem{
    padding: 2rem;
}
.paddingTop10Rem{
    padding-top: 10rem;
}
.justifyCenter{
    justify-self: center;
}
/* Fin GRID */

.displayBlockLinks{       /* 3 Imagenes abajo Index- usado en el Index- Posible uso en otras partes a futuro*/
    color: blue;
    display: block;
    text-align: center;
}  
                   /*Inicio agregado para Box Modelling*/
    
        /* Inicio  agrego flex*/
body{                       
    display: flex;
    flex-direction: column;
}
footer{ 
    background-image: linear-gradient(to right bottom, #5ffbf1, #00e3fe, #00c7ff, #00a8ff, #0083ff, #5d71f7, #895ae9, #aa39d3, #b63fd0, #c145cd, #cb4cca, #d454c8); 
}

header{
    padding: 1rem 0rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
    top: 0;         /*Inicio para realizar un header fijo, agregado GRADIENTE HEADER*/
    left: 0;    
    width: 100%;
    height: 10rem;
    background-image: linear-gradient(to right top, #419eb2, #009cc8, #0097de, #2c8dee, #727ef3, #9772ed, #b863e2, #d450d2, #e246c5, #ee3cb7, #f733a8, #ff2b99);
    position: fixed; 
}
main{
    margin: 10rem 3rem 2rem 3rem;
}                   /*Fin para realizar un header fijo*/
nav{
    align-self: center;
}  
/* Flex para página adoptar */
.fila{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}
.columna{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

            /* Fin agrego flex*/
/*Fin agregado para Box Modelling*/
/*Inicio Transformaciones, Transiciones y animación*/
.imagen{
    width: 32.4rem;
    height: 20.1rem;
    padding: 1rem;
    background:lightsteelblue;
}
@keyframes zoomFoto{
    0%{transform: scale(1,1); }
    50%{transform: scale(1.2,1.2);}
    100%{transform: scale(1.5,1.5);}
}
.imagen:hover{
    animation-name: zoomFoto;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
}
.imagenAdopta{
    width: 10rem; 
    
}
.imagenAdopta:hover{
    transform: scale(1.5);
}
/*Fin Transformaciones, Transiciones y animación*/

.centrar{               /*centra imagenes y videos*/
    display: block;
    margin: auto;
}
.centrarTitulo{
    text-decoration: underline;
}

/* .logo{
    width: 10rem;
    height: auto;
    margin-left: 5rem;
} */

/*Estilo main*/

main{   /*borro los float*/
    clear: both; 
    
}

h1{
    font-size: 2.8em;
    padding: 1rem;
    margin: 1rem;
}

main h2{
    font-size: 2.6em; 
    padding: 1rem;
    margin: 1rem;
}

main h3{
    font-size: 2em;
}

h3 a{
    font-size: 1em;
}

main p{
    font-size: 1.8em;
    font-weight: normal;
    text-align: justify;
    letter-spacing: 0.1rem;
}

.formBoton{
    padding: 0.5rem;
    margin: 2rem;
}

/*Estilo main Tabla - usado en Página "Mapa-sitio" */

.formatoTablaMap{                        /*usado también en Adopta*/
    border-style: solid;
    border-color: black;   
    background: rgba(163, 83, 83, 0.78);
    margin-bottom: 2rem;   
}

table.formatoTablaMap  ul, table.formatoTablaMap ol{
    list-style-position: inside;
    list-style-type:square;
}

/* Estilo main para Form - Página Contacto*/

main form input, main form select, main form textarea{
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 2rem;
    
}
main form label{
    margin-left: 20rem;
}

main form picture{ /*para que no tape el menú esplegable*/
    margin-left: 30rem;
    margin-bottom: 25rem;
    position: relative;
    z-index: 1;
}

main form textarea{ 
    width: 62rem;
    height: 15rem;
    padding: 2rem;
    position: absolute;
    margin-top: -1.5rem;
    margin-left: 20rem;
    background-color: rgb(173, 148, 167);
    position: relative;      
}

main input[type=submit]{
    margin-left: 65rem;
    margin-right: 1rem;
}

/*Estilo Footer*/

footer p, footer a{
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.1rem;
}

footer a, table a, h3 a{
    text-decoration: underline white;
    color: rgb(45, 85, 100);
    font-weight: bold;
}

/* Inicio Media Queries */
@media only screen and (min-width:941px) {
    body{
        font-size: 0.8em;
    }
    #accordionExample, #accordionH1, #navCol{
        display: none;
    }
    .imagenAdopta{
        width: 10rem;
    }
    
    /* para el home  */
    #videoHome{
        width:450px;
        height:304px;
        align-self: center;
        overflow: hidden;
    } 
    #principal{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 35% auto auto auto;
        justify-items:center;  
        align-items: center;  
        justify-content: space-evenly; 
        
    }
    aside{
        grid-column: 1/3;
    }
    .articulos{
        grid-column: 1/3;
        display: flex;
        flex-flow: row wrap;    
        gap: 1rem;
        justify-content: center; 
        margin-bottom: 2rem;       
    }
    
}
@media only screen and (max-width:940px) {
   
    .accordion-button{
        font-size: 0.8em;
    }
    .imagenAdopta{
        width: clamp(7rem, 8rem, 9rem);
        height: auto;
    }
    .logo{
        width: 5rem;
        height: auto;
        margin-left: 0rem; 
    }
    header{
        position: relative;
        height: auto;
    }
    #myTab, #myTabContent, #myTabH1, #navCol{
        display: none;
    }
    #accordionExample, #accordionH1{
        display: initial;
    }
    /* para el home */
    #principal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,auto);       
    }
    aside{
        grid-column: 1/2;
    }
    .articulos{
        grid-column: 1/2;
        justify-content: center; 
                      
    }
    main{
        margin-top: 2rem;
    }
    .paddingTop10Rem{
        padding-top: 2rem;
    }
    
}
@media only screen and (max-width:576px) {
    body{
        font-size: 0.7em;
        padding: 0 auto;
    }
    #navRow{
        display: none;
    }
    #navCol{
        display: initial;
    }   
    #principal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,auto);       
    }
    .articulos{
        grid-column: 1/2;
        justify-content: center; 
                      
    }
    
} 

/* Fin Media Queries */