$colorRecuedroVertical: rgb(36, 14, 236);
$colorRecuedroHorizontal: rgb(124, 107, 197);
$posicionHoverIndex:-0.1rem;
$borderHoverIndex:0.5rem;
$rem1:1rem;
$rem2:2rem;
$rem10:10rem;
$rem5:5rem;  
            