
.footer{ 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; 
    background-color: $colorFooter;
    padding: 2rem;
    &__datos{
        font-size: 1.8em;
        font-weight: bold;
        text-align: justify;
        letter-spacing: 0.1rem;
        &__link{
            list-style-type: none;
            color: $colorLetraFooter;
            font-size: 1.2em;
        }
        
        &__whatsapp, &__mapa, &__mail{
            border-radius: 0;
            margin-right: 1rem;
            
        }
        &__mapa, &__mail{
            color: $colorLetraFooter;
        }
        &__whatsapp{
            color: $colorLetraFooter;
        }
        
    }
    
    &__social{
        display: flex;
        
        &__lista{
            
            &__link{
                   
                text-align: center;
                line-height: 8rem;
                font-size: 3.2rem;
                margin: 0 1rem;
                    
            }
        }
    } 
}



.fa{
    z-index: 3;
    width: 2rem;
    color: $colorLetraFooter; 
}
.fa-facebook:hover{
    color:blue;
}
.fa-instagram{
    color: $colorLetraFooter;
}
.fa-instagram:hover{
    color: #ee4390;
}
.fa-twitter{
    color: $colorLetraFooter;
}
.fa-twitter:hover{
    color:#03a9f4 ;
}