header{
    
    padding: 1rem 0rem;    
    background-color:$colorHeader ;
}

.navigation{
  
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 10rem;
        height: auto;        
    }
    &__menu{
        display: flex;
        gap: 1rem;
        &__links{
            color: #dee2e6;
            padding: 1rem;
            font-size: 3em;
            
        }
    }

    
}

