main{
    width: 60vw;
    min-height:70vh;
    
    margin: 0 auto 0 auto;
    p{
        font-size: 2.2em;
        font-weight: normal;
        text-align: justify;
        letter-spacing: 0.1rem;  
    }
    h1{
        font-size: 3em;
        padding: 1rem 0;
        margin: 1rem 0;  
    }
    h2{
        font-size: 2.6em; 
        padding: 1rem;
        margin: 1rem;
    }
    h3, a{
        font-size: 2.4em;
    }
    
}