.mainAdopta{
    &__inicio{
        align-items: center;
        padding: 2rem;
        &__imagenAdopta{
            width: 10rem;             
        }
    }
    
}

// .tab-pane{
//     background-image:url("https://png.pngtree.com/thumb_back/fh260/background/20210327/pngtree-cute-dog-tiling-background-silhouette-image_595783.jpg");
   
//    background-repeat: no-repeat;
//      background-size: cover;
// }
// Cambiando clases de Bootstrap asociado al Home Tab Content
.nav-link{
    color: black;
    font-size: 2em;
    padding: 0 1.5rem;

}
.list-group-item{
    font-size: 1.8em;
}
.card{
    padding: 0;
    margin: 2rem;
}

 

