.section-ayuda{
    @include grid(repeat(3,1fr), auto, 2rem);
    // display: grid;
    // grid-template-columns: repeat(3,1fr);
    // gap: 2rem;
    @include dimensiones(auto, 60vh);
    // height: 60vh;
    align-content: center;
    justify-content: center;

}
.articleDonaciones{
    
    &__botonPago{
        padding: 1rem 1.5rem;
        background-color: blueviolet; 
        border-radius: 1rem;  
        color: white; 
        font-size: 1.5em;
        display: inline-block;
    }
    
    
}
