@media only screen and (min-width:1240px) {
    body{
        font-size: 0.8em;
    }
    .nav-link{
        font-size:1.8em;
        padding: 1rem;
        font-weight: 500;  
    }
    #accordionExample, #accordionH1, #navCol, .mainAdopta__inicio__Titulo2, .mainAyuda__titulo2, .sectionAyuda__titulo3{
        display: none;
    }    
    /* para el home  */
    .carousel-control-next-icon, .carousel-control-prev-icon{
        height: 8rem;
        width: 5rem;
    }
    #carouselExampleIndicators{
        width:100%;
        align-self: center;
        overflow: hidden;
    }    
    
            
}
@media only screen and (max-width:1350px) {
    main{
        width: 90vw;
        padding: 0 2rem;
    }
}
@media only screen and (max-width:1239px) {
    body{
        font-size: 0.8em;
    }
    main{
        width: 80vw;
        padding: 0 2rem;
    }
    #myTab, #myTabContent, #myTabH1, #navCol, .mainAdopta__inicio__Titulo1, .sectionAyuda__titulo3{
        display: none;
    }
    #accordionExample, #accordionH1, .mainAdopta__inicio__Titulo2{
        display: initial;
    }
    .accordion-item{
        margin-bottom: 2rem;
    }
    .accordion-button{
        font-size: 0.8em;
    }
    .navigation__menu{
        flex-direction: column;
    }
    .card{
        margin: 2rem auto;
    }
    .sectionAyuda{
        grid-template-columns: repeat(2,1fr);
        margin: 2rem 0;    
    }
    /* para el home */
    .carousel-control-next-icon, .carousel-control-prev-icon{
        height: 6rem;
        width: 4rem;
    }
    .mainIndex{
        @include grid(1fr, repeat(6,auto), $rem1);
        // display: grid;
        // grid-template-columns: 1fr;
        // grid-template-rows: repeat(6,auto);
        // gap: 1rem;
        &__carousel{
            grid-column: 1/2;
            padding-top: 2rem;
            width: 100%;
            height: auto;
            // overflow: hidden;
            
        } 
        &__descripcion{
            grid-area: 2/1/3/2;
                 
        }      
    }
    .form{
      
        // &__input{
        //     &__picture{
        //     //     margin-left: 3rem;
        //     //     // &__textarea{
        //     //     //     width: 45rem;
        //     //     // }
        //     // }
        // }
        &__boton{
            margin-top: 0rem;
        }    

    }
    .mainAyuda__titulo1{
        display: none;
    }
    .sectionAyuda{
        margin-top: 2rem;
        
    }
    #mainAyuda__titulo2{
        display: block;
        margin-left: 0;
        padding-left: 0;

    }
    .seccionNosotros{
        &__parrafo{
            &::before{
                
                transform: rotate(6deg);
            }
            &::after{
                
                transform: rotate(-6deg);
            }
        }
    }
        
              
}
@media only screen and (max-width:768px) {
    main{
        width: 100%;
        padding: 0 2rem;
    }
    .sectionAyuda{
        width: 80%;
        margin: 2rem auto;
        grid-template-columns: 1fr; 
        height: auto; 
        &__titulo3{
            display:initial;
        }
        
    } 
    #mainAyuda__titulo2{
        display: none;
    }
    .form{
        width: 80%;
        margin: 2rem auto;
        &__input{
            
            &__picture{
                &__textarea{
                    width: 100%;
                }
            }
        }
    }
    
    
    
    .seccionNosotros{
        
        &__imagen{
            
            width: 100%;
            
        }
        
        &__parrafo{
            width: 100%;
            &::before{
                
                background: none;
            }
            &::after{ 
                background: none;
            }
        }
        
    }
   
    
} 
@media only screen and (max-width:576px) {
    .seccionNosotros__parrafo{
        text-align: center;
        word-spacing: 0.2rem;
    }
    .form{
        @include grid(1fr, auto, 1rem);
        // &__checkbox{
        //     justify-self: center;
        // }
        &__contacto{
            
            grid-column: 1/2 ;
           
        }
        &__input{
            grid-column: 1/2 ;
            &__picture{
                &__textarea{
                    width: 100%;
                }
                &__imagen{
                    display: none;
                }
            }
        }
    }
   
    
}

@media only screen and (max-width:400px) {
    .navigation__menu__links{
        font-size: 2em;
    }
    .footer{
        @include grid(1fr, auto,0);
        justify-items: center;
        &__social{
            padding: 0;
            grid-row: 1/2;
        }
    }
    .form__boton{
        width: 100%;
    }
}
